/* Using google font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variable declare */
:root{
     --color-orange1: #E76F51;
     --color-orange2: #E77C40;
     --color-grey-dark1: #7E848C;
     --color-grey-dark2: #6C6C6C;;
     --color-grey-light1: #F1F1F1;
     --color-grey-light2: #D9DBE1;
     --color-dark-green: #264653;
     --color-dark: #0B0D17;
     --color-blue: #23A6F0;
     --color-white: #fff;
     --color-black: #000;
}

/* global reset and font set */
*,
*::before,
*::after{
     margin: 0;
     padding: 0;

     font-family: 'Poppins', sans-serif;
}

/* typography style */
.text-grey-color{
     color: var(--color-grey-dark2);
}

.text-blue-color{
     color: var(--color-blue);
}

.text-grey-light-color{
     color: var(--color-grey-dark1);
}

.text-grey-lighter-color{
     color: var(--color-grey-light2);
}

.font-weight-500{
     font-weight: 500;
}

.line-height-28{
     line-height: 28px;
}


/* color */
.bg-header-color{
     background-color: var(--color-dark-green);
}

.theme-color-orange{
     color: var(--color-orange1);
}

.icon-star-color{
     fill: var(--color-orange2);
}

.bg-footer{
     background-color: var(--color-dark);
}

.bg-section-custom-color{
     background-image: linear-gradient(to bottom, var(--color-grey-light1), var(--color-grey-light2));
}


/* button styling */
.bg-btn-color-variation1{
     color: var(--color-white);
     background-color: var(--color-orange1);
     border: 2px solid var(--color-orange1);
}

.bg-btn-color-variation1:hover{
     color: var(--color-orange1);
     background-color: transparent;
     border: 2px solid var(--color-orange1);
}


/* image styling */
.grayscale-effect{
     -webkit-filter: grayscale(100%); 
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
     filter: grayscale(100%);
}


/* accordion item styling */
.accordion-button:not(.collapsed) {
     color: var(--color-black);
     background-color: var(--color-white);
     box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
 }



 /* spacing */
.extra-spacing{
     padding-left: 20px;
}

.custom-width-45{
     width: 45%;
}